{{ $pages := where site.RegularPages "Type" "posts" }}
{{ $sorted := $pages.ByDate.Reverse }}
{{ $first := index $sorted 0 }}
{{ $alt := or $first.Params.coverAlt $first.Title }}

<a href="{{ $first.RelPermalink }}" class="block">
  <section class="latest-post w-full justify-center px-6 pt-6 pb-4 border-b transition-all duration-300 hover:-translate-y-1 hover:shadow-lg cursor-pointer">
    <div class="w-full flex flex-col md:flex-row-reverse gap-2 md:gap-6 items-stretch">

      <!-- If cover exists -->
      {{ if $first.Params.cover }}

      <!-- Text Right (with image) -->
      <div class="latest-post-text flex-1 pb-4 flex flex-col">
        <h2 class="text-sm uppercase text-gray-500 tracking-widest mt-1 mb-2">
          {{ with $first.Params.categories }}{{ index . 0 }}{{ else }}{{ T "uncategorized" | default "Top" }}{{ end }}
        </h2>

        <h3 class="text-3xl font-bold font-serif hover:underline mb-2">
          {{ $first.Title }}
        </h3>

        <p class="text-sm text-gray-500 mb-2">{{ $first.Date.Format "2006-01-02" }}</p>

        <div class="">
          {{ $first.Summary }}
        </div>

        <!-- read time -->
        <div class="mb-2 hover:underline text-gray-500">
          <a href="{{ $first.RelPermalink }}" class="mt-2"></a>
          {{ T "readMore" | default "Read More" }}
          </a>
      </div>
      </div>
      <!-- Image Left -->
      <div class="latest-post-cover flex-shrink-0 w-full md:w-1/3 h-full"> 
        <figure>
          {{ with $first.Resources.Get $first.Params.cover }}
            {{ if eq .MediaType.SubType "svg" }}
              <img src="{{ .RelPermalink }}" alt="{{ $alt }}"
                  fetchpriority="high"
                  decoding="async"
                  class="object-cover w-full h-auto rounded-none mb-4 aspect-[4/3]"
                  />
            {{ else }}
              {{ $webp := .Resize (printf "%dx%d webp" .Width .Height) }}
              <picture>
                <source srcset="{{ $webp.RelPermalink }}" type="image/webp" />
                <img src="{{ .RelPermalink }}" alt="{{ $alt }}"
                    fetchpriority="high"
                    decoding="async"
                    class="object-cover w-full h-auto rounded-none mb-4 aspect-[4/3]"
                    width="{{ .Width }}" height="{{ .Height }}"
                    />
              </picture>
            {{ end }}
          {{ else }}
            {{ with resources.Get $first.Params.cover }}
              {{ if eq .MediaType.SubType "svg" }}
                <img src="{{ .RelPermalink }}" alt="{{ $alt }}"
                    fetchpriority="high"
                    decoding="async"
                    class="object-cover w-full h-auto rounded-none mb-4 aspect-[4/3]"
                    />
              {{ else }}
              {{ $webp := .Resize (printf "%dx%d webp" .Width .Height) }}
              <picture>
                <source srcset="{{ $webp.RelPermalink }}" type="image/webp" />
                <img src="{{ .RelPermalink }}" alt="{{ $alt }}"
                    fetchpriority="high"
                    decoding="async"
                    class="object-cover w-full h-auto rounded-none mb-4 aspect-[4/3]"
                    width="{{ .Width }}" height="{{ .Height }}"
                    />
              </picture>
              {{ end }}
            {{ else }}
              <img src="{{ $first.Params.cover }}" alt="{{ $alt }}"
                  fetchpriority="high"
                  decoding="async"
                  class="object-cover w-full h-auto rounded-none mb-4 aspect-[4/3]"
            
                  />
            {{ end }}
          {{ end }}
        </figure>
    </div>

      {{ else }}
      <!-- Text Right (without image, improved styling) -->
      <div class="latest-post-text flex-1 text-center flex flex-col gap-2 lg:gap-4 w-full justify-center">
        <!-- Category -->
        <h2 class="text-sm lg:text-md uppercase text-gray-500 tracking-widest">
          {{ with $first.Params.categories }}{{ index . 0 }}{{ else }}{{ T "uncategorized" | default "Top" }}{{ end }}
        </h2>
        <!-- Post title -->
        <h3 class="text-3xl md:text-5xl font-bold font-serif hover:underline">
          {{ $first.Title }}
        </h3>
        <!-- Date -->
        <p class="text-sm lg:text-md text-gray-500">{{ $first.Date.Format "2006-01-02" }}</p>
        <!-- Summary -->
        <div>
          {{ $first.Summary }}
        </div>

        <div class="mb-2">
            <a href="{{ $first.RelPermalink }}" class="text-blue-500 hover:underline mt-2"></a>
            {{ T "readMore" | default "Read More" }}
            </a>
        </div>
      </div>

      {{ end }}
      
    </div>
  </section>
</a>